.slide-down-enter, .slide-down-leave-to {
  transform: translate(0, -100%);
}

.slide-down-enter-to, .slide-down-leave, .slide-up-enter-to, .slide-up-leave, .slide-right-enter-to, .slide-right-leave, .opacity-slide-up-enter-to, .opacity-slide-up-leave {
  transform: translate(0, 0);
}

.popup-slide-up-enter-to, .popup-slide-up-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.slide-down-enter-active, .slide-down-leave-active, .slide-up-enter-active, .slide-up-leave-active, .fade-enter-active, .fade-leave-active, .slide-right-enter-active, .slide-right-leave-active, .popup-slide-up-enter-active, .popup-slide-up-leave-active {
  transition: all .2s linear;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translate(0, 170px);
}

.popup-slide-up-enter, .popup-slide-up-leave-to {
  transform: translate(0, 100%);
  opacity: 0;
}

.slide-right-enter, .slide-right-leave-to {
  transform: translate(-100%, 0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.title-move-enter-active, .title-move-leave-active, .host-search-enter-active, .host-search-leave-active, .shelf-tab-slide-up-enter-active, .shelf-tab-slide-up-leave-active {
  transition: all 0.2s linear;
}

.title-move-enter, .title-move-leave-to {
  transform: translate(0, 10px);
  opacity: 0;
}

.title-move-leave, .title-move-enter-to, .host-search-leave, .host-search-enter-to, .shelf-tab-slide-up-enter-to, .shelf-tab-slide-up-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.host-search-enter, .host-search-leave-to {
  transform: translate(0, 30px);
  opacity: 0;
}

.shelf-tab-slide-up-enter, .shelf-tab-slide-up-leave-to {
  transform: translate(0, 30px);
  opacity: 0;
}

.popup-slide-up-enter, .popup-slide-up-leave-to {
  transform: translate(0, 100%);
}

.opacity-slide-up-enter, .opacity-slide-up-leave-to {
  transform: translate(0, 100%);
}

.opacity-slide-up-enter-active, .opacity-slide-up-leave-active {
  transition: all .2s linear;
}
